@import url('https://fonts.googleapis.com/css?family=Bitter');
html{
  font-family: 'Bitter', serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(76, 81, 255, 0.6);
}


.mbutton{
  font-family: Aria;
  font-size: 1.7vw;
  color: white;
  text-decoration: none;
}

nav{
    overflow: hidden;
    background-color: #00012E;
     position: fixed;
     top: 0;
     left:0;
     width: 100%;
     height: 14%;

}
nav a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2%;
}
nav a:hover{
  height: 100%;
  background-color: white;
  color: black;
}

.contenedor{
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 8%;
  border: 2px solid black;
  border-radius: 5px;
}

.prueba{
    padding: 3vw 4%;
    margin-bottom: 2.1%;

}
h2{
    margin-bottom: 0;
    text-align: center;
    font-size: 4vw;

}
hr{
  border-top: 1px solid black;
}
p{
    font-size: 3vh;
    text-align:justify;
    margin-left: 4%;
    margin-right: 4%;
}
#inicio{

  background-color:rgba(0, 5, 207, 0.74);
  box-shadow: 0 0 0.5em .5em rgba(0, 5, 207, 0.74);
}
#estudios{
  background-color:rgba(0, 5, 207, 0.74);
  box-shadow: 0 0 0.5em .5em rgba(0, 5, 207, 0.74);
}
#cursos{
  background-color:rgba(0, 5, 207, 0.74);
  box-shadow: 0 0 0.5em .5em rgba(0, 5, 207, 0.74);
}
#hobbies{
  background-color:rgba(0, 5, 207, 0.74);
  box-shadow: 0 0 0.5em .5em rgba(0, 5, 207, 0.74);
}
#tema{
  background-color:rgba(0, 5, 207, 0.74);
  box-shadow: 0 0 0.5em .5em rgba(0, 5, 207, 0.74);
}
footer{
  background-color: rgba(0, 1, 46, 0.91);
  color: white;
  width: 100%;

}
.pie{
    width: 100%;

    display: inline-flex;
}
.columna{
    width: 45%;
    padding: 2.5%;
    float: left;
}
input{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.inputs{
    font-size: 4vh;
    margin-top: 2vh;
}
.inputs input{
    background: none;
    color: white;
    border: none;
    outline: none;
    border: solid 2px black;
    border-radius: 5px;
    transition: all ease 500ms;
}
.fin{
    background: #000119;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    line-height: 3.5vh;
    margin-top: 1vh;
}

textarea{
  font-size:2vh;
    width: 90%;
    margin: auto;
    resize: none;
    background: none;
    color: white;
    outline: none;
    border: solid 2px black;
    border-radius: 5px;
    transition: all ease 500ms;
}

input[type="submit"]{
    width: 50%;
    margin-top: 2vh;
    margin-left: 20%;
}
h6{
    font-size: 3vh;
}


.shared-panel{
	overflow: auto;
}
.shared-panel span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	padding: 0;
	background: url("shared.png") no-repeat;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}
.shared.gp {background-position: 0px 0px; background-color: #E62B34;}
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.wa {background-position: 0px -90px; background-color: #0dc143;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{border-radius: 0;}
.st3{border-radius: 5px;}
